<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="https://cdn.byba.online/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.byba.online/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.byba.online/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.byba.online/favicon-16x16.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.byba.online/core.css" />
        <link rel="stylesheet" href="https://cdn.byba.online/branding.css" />
        <title>{{title}} | British Youth Band Association</title>
        <style>
            header {
                background-color: var(--primary-colour);
                color: var(--primary-text-colour);
                margin-bottom: 2rem;
                text-align: center;
            }

            h6,
            h5,
            h4,
            h3,
            h2,
            h1 {
                margin-top: 0;
                margin-bottom: .5rem;
                font-weight: 500
            }

            label {
                margin-left: .75rem;
                margin-bottom: .3rem;
                display: block;
                text-align: start
            }

            input:not([type=checkbox]),
            textarea,
            select {
                display: block;
                width: 100%;
                padding: .5rem .75rem;
                font-size: 1rem;
                border-radius: 10px;
                margin: .1rem 0;
                border-style: solid;
                border-color: #0000001a
            }

            button {
                padding: .5rem 1rem;
                font-size: 1.25rem;
                border-radius: 10px;
                border-color: #0000001a;
                cursor: pointer
            }

            button:active {
                background-image: linear-gradient(#fff3 0, #fff3 0)
            }

            button.primary {
                background-color: var(--primary-colour);
                color: var(--primary-text-colour)
            }

            .error:not(button),
            .success:not(button),
            .info,
            .warning {
                padding: 1rem;
                border-radius: 5px;
                text-align: center;
                margin-bottom: 1rem;
            }

            .error {
                background-color: var(--error-colour);
                color: var(--error-text-colour);
            }

            img {
                margin-bottom: 1rem;
            }

            section {
                margin-top: 3rem;
            }

            .d-none{
                display: none;
            }
        </style>
    </head>

    <body>
        <header>
            <div class="container">
                <h1>BYBA Results Viewer</h1>
            </div>
        </header>
        <main class="container">
            {{{body}}}
        </main>
    </body>

</html>