<form>
    <p>Enter the recap URL below to extract caption winners and division placements.</p>

    <label for="recap">Recap URL</label>

    <div class="input-group">
        <input id="recap" />
        <button class="primary">Extract</button>
    </div>
</form>