<div class="error d-none" id="error"></div>

<div>
    <p>Enter the recap URL below to extract caption winners and division placements.</p>

    <label for="recap">Recap URL</label>
    <input id="recap" placeholder="Paste Recap URL Here"/>
</div>

<section>
    <h2>How Do I Use This Page?</h2>
    <p>In order for the system to be able to access the recaps, you need to enable <strong>Programmatic Access</strong>. This is different to releasing the scores to bands and to the public and so we can release it this way before the scores are announced.</p>
    <p>Programmatic Access can be enabled by <a href="https://competitionsuite.com/overview/" target="_blank">logging into CompetitionSuite</a> and navigating to the event.</p>
    <p>Once there, navigate to the <strong>Score Release</strong> tab:</p>
    <img src="/score-release-tab.png" />
    <p><strong>For each class displayed on this page</strong>, make sure that the Programmatic - API box says "Allow Access". <strong>You must do this for each class, otherwise this site can only read the classes you select!</strong></p>
    <img src="/programmatic.png" />
    <p>Once all the boxes have been selected, copy the <strong>Public Recap URL</strong> and paste it in the box above</p>
</section>


<script>
    const errorEl = document.getElementById("error");
    const regex = /(\{?[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\}?)/g;

    function showError(error){
        errorEl.innerHTML = error;
        errorEl.classList.remove("d-none");
    }

    document.getElementById("recap").addEventListener("paste", (e) => {
        errorEl.classList.add("d-none");
        let recap = e.clipboardData.getData("text");
        const matches = regex.exec(recap);
        console.log(matches);

        if (!matches) {
            showError("Hmm... that URL doesn't look correct. Please check it and try again. The correct format should be along the lines of https://recaps.competitionsuite.com/&lt;numbers and letters&gt;.htm")
            return;
        }

        window.location.href = matches[0];
    });
</script>